# ─── App ──────────────────────────────────────────────────────
APP_PORT=8000
APP_ENV=development
LOG_LEVEL=INFO

# ─── PocketBase ──────────────────────────────────────────────
PB_URL=https://pb.dev.industryapps.net/OCCDUBAI
PB_ADMIN_EMAIL=abhi-s@industryapps.net
PB_ADMIN_PASSWORD=Linux@1994

# ─── Email Notifier ──────────────────────────────────────────
SMTP_HOST=smtp.office365.com
SMTP_PORT=587
SMTP_USER=uatsignup@industryapps.net
SMTP_PASSWORD=uatiapps@123
SMTP_TLS=true
EMAIL_FROM=uatsignup@industryapps.net
